/* General HTML styling */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h1 .divider {
    margin: 0 8px;
}

h1 .sub-headline {
    color: #888;
    font-weight: 300;
}

.intro-section {
    height: 950px;
}

#chart3 {
    height: 950px;
}

/* Viz-related styling */

#water-map {
    height: 500px;
    margin: 20px;
    width: 100%;
}

/****************/
/*     CHART    */
/****************/

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line,
.domain {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}

.axis-label {
    fill: #888;
    font-size: 10px;
}